<div class="container-fluid">
<div class="row">
<div class="col-sm-8">

    <legend>Executing {{action.label}}</legend>
	<form>
		<div ng-repeat="inputField in inputFields track by $index" class="form-group">
			<div ng-init="typeName = inputField.typeRef.typeName; typeKind = inputField.typeRef.kind">
				<div ng-if="typeKind != 'Entity' && typeName != 'Memo'">
				    <label>{{inputField.label}}:</label>
				    <input type="text" class="form-control" id="{{inputField.name}}" ng-model="parameterValues[inputField.name]">
				</div>
				<div ng-if="typeName == 'Memo'">
				    <label>{{inputField.label}}:</label>
				    <textarea class="form-control" id="{{inputField.name}}" ng-model="parameterValues[inputField.name]">
				    </textarea>
				</div>
				<div ng-if="typeKind == 'Entity'">
				    <label>{{inputField.label}}:</label>
				    <input
				        type="text" class="form-control" 
				        id="{{inputField.name}}"
				        ng-model="parameterValues[inputField.name][0].shorthand"
				        typeahead="shorthand as candidate.shorthand for candidate in findCandidatesFor(inputField, $viewValue)"
				        typeahead-editable="false"
				        typeahead-input-formatter="formatCandidate(inputField)"
				        typeahead-on-select="onCandidateSelected($item, inputField, $label)">
				</div>
			</div>
		</div>
	</form>
    <div>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="cancel()">
                  Cancel
              </button>
              <button type="button" class="btn btn-default" ng-click="performAction()">
                  Go!
              </button>
          </div>
    </div>
</div>
</div>