
    <nav class="navbar navbar-default">
      <div class="container-fluid" ng-cloak>
          <div class="navbar-header">
            <p class="navbar-brand">{{applicationName}}</p>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
		        <li ng-repeat="entity in entities | filter:{topLevel: true}" class="divider-vertical">
		            <a ui-sref="{{kirraNG.toState(entity.fullName, 'list')}}">{{entity.label}}</a>
		        </li>
    	    </ul>
		  </div>	    	
	  </div>
    </nav>
